<% if post.liked_by?(current_user) %>
  <p>
    <%= link_to post_like_path(post), class: "like-btn", data: { "turbo-method": :delete } do %>
      ♥<%= post.likes.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_likes_path(post), class: "like-btn", data: { "turbo-method": :post } do %>
      ♡<%= post.likes.count %>
    <% end %>
  </p>
<% end %>
