<div class="side_area">
  <%= render 'posts/sidebar' %>
</div>

<div class="main_area">
  <%= render 'posts/main' %>
</div>


<div class="right_area">
</div>


<%# モーダル表示 %>
<%= render 'posts/madal' %>

