<div class="side_area">
  <%= render 'posts/sidebar' %>
</div>

<div class="main_area">
  <%= render 'posts/main' %>
</div>


<div class="right_area">
</div>




<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (navigator.permissions) {
      navigator.permissions.query({ name: 'geolocation' }).then(function(permissionStatus) {
        if (permissionStatus.state === 'granted') {
          // 位置情報の許可が得られている場合、ボタンを活性化する
          document.querySelector(".top-tweet").disabled = false;
        } else {
          // 位置情報の許可が得られていない場合、ボタンを非活性化する
          document.querySelector(".top-tweet").disabled = true;
        }
      });
    } else {
      console.error("navigator.permissions API is not supported by this browser.");
    }
  });

  function updateLocation(event, formSelector) {
    event.preventDefault(); // フォームのデフォルトの動作を防ぐ

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        function(position) {
          // フォームのセレクタに基づいて対象のフォームを取得
          var form = document.querySelector("#" + formSelector);

          // 取得したフォームに緯度・経度を設定
          form.querySelector("#post_latitude").value = position.coords.latitude;
          form.querySelector("#post_longitude").value = position.coords.longitude;

          // フォームを手動でサブミット
          form.submit();
        },
        function(error) {
          console.error("Error getting geolocation:", error.message);
          // 位置情報の取得に失敗した場合、ボタンを非活性にする
          document.querySelector(".top-tweet").disabled = true;
        }
      );
    } else {
      console.error("Geolocation is not supported by this browser.");
    }
  }
</script>

