.followers-wrapper {
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  border-left: 2px #EEE solid;
  border-right: 2px #EEE solid;
}

.followers-container {
  position: fixed;
  width: 40%;
}

.followers-top {
  display: flex;
  padding-left: 16px;
  padding-top: 9px;
}

.return-button {
  cursor: pointer;
  color: #777;
  height: min-content;
}

.return-button:hover {
  text-decoration: none;
}

.user-info {
  margin-left: 16px;
  margin-bottom: 11px;
}

.followers-user-name {
  color: #333;
  font-family: Hiragino Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.followers-user-user_name {
  color: #777;
  font-family: Hiragino Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.follow-tabs {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px #EEE solid;
}

.followers-tab-text {
  color: #0E1838;
  text-align: center;
  font-family: Hiragino Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 5px;
  border-bottom: 5px #E27D27 solid;
}

.followings-tab-text {
  color: #777;
  text-align: center;
  font-family: Hiragino Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 5px;
}

.followers-info {
  margin-top: 156px;
}

.follower-info {
  display: flex;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.follower-icon {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin-left: 16px;
}

.follower-names {
  margin-left: 5px;
}

.follower-name {
  color: #333;
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.follower-user_name {
  color: #0E1838;
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.follow-btn-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 16px;
  width: 90px;
  height: 32px;
  border-radius: 9999px;
  border: 1px solid #0E1838;
  background: #0E1838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-btn {
  color: #FFF;
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  background: #0E1838;
  border: none;
}

.unfollow-btn-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 16px;
  width: 90px;
  height: 32px;
  border-radius: 9999px;
  border: 1px solid #0E1838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unfollow-btn {
  color: #0E1838;
  font-family: "Hiragino Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #FFF;
  border: none;
}

.text-center {
  text-align: center;
}

.follow_main {
  /* padding-left: 40px; */
}

.follow_user_area {
  width: 100%;
  height: 100%;
  border: solid 1px #EEEEEE
}

.back-to-user-button i {
  margin-left: 18px;
  /* 右側に5pxの余白を追加 */
}

.follow_name {
  color: #333;
  font-family: "Hiragino Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 16px;
  margin-top: 8px;
}

.follow_user_name {
  color: #777;
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 13px
}

.toggle-buttons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid#EEE;
  padding-top: 11px;
  width: 100%;
}


.following-button {
  display: flex;
  flex-direction: column;
}

.following-link {
  color: #333;
  text-align: center;
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 130px;
  text-decoration: none;
  position: relative;
}

.underline {
  width: 64px;
  height: 8px;
  background-color: #E27D27;
  margin-top: 8px;
  margin-left: 3px;
}

.follower-link {
  color: #777;
  text-align: center;
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 130px;
}

.follow_area {
  margin-top: 50px;
}

.follow-date-icon img {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin-left: 17px;
}

.following-name {
  color: #333;
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.following-user-name {
  color: #0E1838;
  font-family: "Hiragino Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.follow-list {
  width: 100%;
}

.followings_user {
  width: 100%;
  height: 64px;
  display: flex;
  /* Flexbox を使用して要素を並べる */
  justify-content: space-between;
  /* 要素を左右に配置 */
  align-items: center;
}

.follow-date-name {
  padding-left: 25px;
}

.follow-date-icon {
  width: 48px;
  height: 48px;
}

.following-name {
  padding: 0;
  padding-top: 11px;
}

.following-user-name {
  padding: 0;
  padding-bottom: 11px;
}

.followings-follow-button {
  height: 32px;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid #0E1838;
  margin-top: 16px;
  margin-right: 14px;
  margin-left: auto;
  /* 右側に寄せる */
}