/* ユーザー投稿一覧表示エリア */
.post_area {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    position: relative;
}

/* 単体の投稿表示エリア */
.post-container {
    border: 1px solid #EEEEEE;
    padding: 10px;
    width: 95%;
}

/* サムネイル画像 */
.post-img {
    display: flex;
}

/* テーブル */
.post-table {
    width: 95%;
    height: 100px;
}


td {
    align-items: center;
    padding: 10px;
    width: 100%;
}

/* 位置情報画像 */
.post-image {
    width: 100%;
}

/* ユーザーのname */
.name {
    font-weight: bold
}

.transition {
    margin-left: 20px;


}

.tweet_link {
    margin-right: 10%;
    font-weight: bold
}

.reply_link {
    font-weight: bold
}

.scroll {
    height: 80%;
    overflow-y: scroll;
}

.tweet_link {
    margin-bottom: 7px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    /* 親要素に対して相対的な位置に配置するために必要 */
}


.tweet_link.active:after {
    content: "";
    width: 80%;
    /* 要素全体の幅に対する割合 */
    bottom: -28%;
    left: 10%;
    /* 要素の左端に配置 */
    position: absolute;
    /* 相対的な位置指定を利用して、親要素に対して絶対的な位置に配置 */
    border-bottom: 8px solid #E27D27;
}

.reply_link {
    margin-bottom: 7px;
    color: #777777;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.reply_link.active:after {
    content: "";
    color: black;
    width: 80%;
    bottom: -28%;
    left: 8%;
    position: absolute;
    border-bottom: 8px solid #E27D27;
}

.comments_icon {
    margin-right: 20px;
}

.posts_icon_area {
    display: flex;
}

.destroy_icon {
    margin-left: auto;
}

.reply_button {
    width: 68px;
    height: 33px;
    font-size: 12px;
    color: white !important;
    background-color: #E27D27 !important;
    border-radius: 30px !important;
}

.reply_body {
    width: 80%;
    height: 21px;
    outline: none;

}

form {
    align-items: center;
    border: 1px solid #EEEEEE;
}


.inline-elements {
    width: 100%;
    padding: 10px;
}

td.submit_area {
    display: flex;
    width: 145%;
}

.comment-count {
    font-size: 18px;
    color: #777777;

}