.post_area {
    width: 100%;
    margin-left: 20px;
}

.post-container {
    border: 1px solid #EEEEEE;
    padding: 10px;
}

.post-img {
    display: flex;
}

.post-table {
    width: 100%;
}


td {

    align-items: center;
    padding: 10px;
    width: 100%;
}

td img {
    margin-right: 4%;
}

.user_name {
    color: #3366cc;
}

.post-image {
    width: 100%;
}