/* トップ画面表示エリア */
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}


/* サイドバー表示エリア */
.side_area {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0px;

}

/* メインコンテンツ表示エリア */
.main_area {
  width: 40%;
  height: 100%;
  margin-left: 30%;
  position: relative;
}

.right_area {
  width: 25%;
}

/* サイドバーテキスト表示エリア */
.side-text {
  height: 100%;
  width: 50%;
  float: right;
  margin-right: 10%
}

/* ロゴ */
.logo {
  width: 158px;
  height: 74px;
  display: block;
}

/* アイコン */
.icon {
  margin-right: 10px;
}

/* チャンネルリスト */
.channel-list {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  text-align: left;
}

/* リストアイテム */
li {
  padding: 10px;
  width: 170px;
  text-decoration: none;
}

/* リンクテキスト */
.link-text {
  font-size: 18px;
  color: black;
  white-space: nowrap;
  text-decoration: none;
}

/* ツイートボタン */
.tweet-button {
  width: 172px;
  height: 39px;
  border-radius: 20px;
  background: #E27D27;
  color: white;
  border: 2px solid #E27D27;

}

/* ホームボタン */
.home_button {
  text-decoration: none;
}

/* プロフィールボタン */
.profile_button {
  text-decoration: none;
}

/* 設定ボタン */
.setting_buttoon {
  text-decoration: none;
}

/* ログアウトボタン */
.logout_button {
  color: black;
  text-decoration: none;
}

/* ログアウトボタン表示エリア */
.logout-container {
  position: absolute;
  bottom: 0;
  padding: 25px;
}

/* user情報表示エリア */
.user_area {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}

/*  画像表示エリア  */
.profile_area {
  width: 100%;
  height: 20%;
}

.profile_area img {
  width: 100%;
}

/* ユーザーnameから下のエリア */
.user_information {
  width: 95%;
  margin-left: 20px;

}

/* テキスト表示エリア */
.user_description {
  margin-top: 20px;
}

/* サムネイル表示エリア */
.thumbnail_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* サムネイル画像 */
.thumbnail_area img {
  margin-left: 40px;
  margin-top: -20px;
}

/* 編集ボタン表示エリア */
.edit_button {
  margin-top: 40px;
}

/* 編集ボタン */
.profile_edit_button {
  width: 200px;
  height: 36px;
  border-radius: 20px;
  font-weight: bold;
  background: white;
  color: black;
  border: 1px solid black;

}

/* フォロワー　フォロー表示エリア */
.follow_follower_area {
  margin-top: 30px;
}